rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /solicitudes/{solicitudId} {
      allow create: if request.auth != null;
      
      allow read: if request.auth != null && 
        (resource.data.uid == request.auth.uid || 
         resource.data.correoUsuario.lower() == request.auth.token.email.lower() ||
         resource.data.correoSolicitante.lower() == request.auth.token.email.lower() ||
         resource.data.correoProgramador.lower() == request.auth.token.email.lower());
         
      allow update: if request.auth != null && 
        (resource.data.uid == request.auth.uid || 
         resource.data.correoUsuario.lower() == request.auth.token.email.lower() ||
         resource.data.correoSolicitante.lower() == request.auth.token.email.lower() ||
         resource.data.correoProgramador.lower() == request.auth.token.email.lower());
    }
  }
}
